/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.table {
  @apply min-w-full bg-white p-4 shadow-md rounded-lg;
}

.tableHeader {
  @apply px-6 py-3 border-b-2 border-gray-200 bg-gray-50 text-left text-xs leading-4 text-gray-500 uppercase tracking-wider;
}

.tableCell {
  @apply px-6 py-4 whitespace-nowrap text-sm leading-5;
}

.tableCell:first-child {
  @apply font-medium text-gray-900;
}

.tableRow {
  @apply border-b border-gray-200;
}

.tableRow:nth-child(even) {
  @apply bg-gray-50;
}
