<div
    class="w-screen h-screen items-center flex flex-col gap-8 justify-center bg-gradient-to-br from-blue-600 via-sky-600 to-cyan-400">
    <div class="flex gap-4">
        <img src="assets/angular.svg" class="w-24 h-20" />
        <img src="assets/nx-logo.png" class="w-24 h-20" />
    </div>
    <div class="lg:px-20 px-6 py-6 bg-zinc-200 rounded-lg">

        <h1 class="lg:text-4xl text-xl tracking-wide font-semibold">Zephyr Angular V15 + Nx Example</h1>
    </div>

</div>
<router-outlet></router-outlet>